---
import {
	Accordion,
	AccordionContent,
	AccordionItem,
	AccordionTrigger,
} from "@/components/ui/accordion";
import { FAQ_ITEMS } from "@/constants";
---

<section id="faq" class="py-20 md:py-28 scroll-mt-24">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<h2
			class="font-heading text-3xl font-bold tracking-tight text-foreground sm:text-4xl lg:text-5xl text-center"
		>
			Respondemos las dudas más comunes.
		</h2>
		<p class="mt-4 text-base text-muted-foreground sm:text-lg text-center max-w-2xl mx-auto">
			Si aún tienes alguna consulta, estaremos encantados de ayudarte por WhatsApp.
		</p>

		<div class="mt-12 mx-auto max-w-2xl">
			<Accordion defaultValue="faq-1">
				{FAQ_ITEMS.map((item, i) => (
						<AccordionItem
							value={`faq-${i + 1}`}
							class="rounded-lg shadow-xs transition-all duration-200 hover:bg-accent/20 data-open:bg-accent/20  not-last:border-b not-last:border-border not-last:rounded-none"
						>
							<AccordionTrigger
								class="font-heading text-base font-semibold sm:text-lg"
							>
								{item.question}
							</AccordionTrigger>
							<AccordionContent
								class="text-base leading-relaxed text-muted-foreground"
							>
								{item.answer}
							</AccordionContent>
						</AccordionItem>
					))}
			</Accordion>
		</div>
	</div>
</section>
