---
import type { HTMLAttributes } from "astro/types";
import { cn } from "cnfast";

interface Props extends HTMLAttributes<"div"> {
	class?: string;
}

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
	{...rest}
	data-slot="accordion-content"
	hidden
	class="data-open:animate-accordion-down data-closed:animate-accordion-up overflow-hidden text-sm"
>
	<div class={cn("px-4 pb-4 pt-0 text-muted-foreground", className)}>
		<slot />
	</div>
</div>
