---
import type { HTMLAttributes } from "astro/types";
import { cn } from "cnfast";

interface Props extends HTMLAttributes<"div"> {
	value: string;
	class?: string;
}

const { value, class: className = "", ...rest } = Astro.props as Props;
---

<div
	{...rest}
	data-value={value}
	data-slot="accordion-item"
	class={cn("not-last:border-b", className)}
>
	<slot />
</div>
